<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
  <h1>{{.title}}</h1>

  <!--Loop over the `payload` variable, which is the list of articles-->
  {{if .is_logged_in}}
  {{range .payload}}
    <!--Create the link for the article based on its ID-->
  <dl>
    <a href="/messages/view/{{.ID}}"><dt>{{.ID}}</dt></a>
    <dd>{{.Content}}</dd>
    <dd>{{.Palindrome}}</dd>
  </dl>
  {{end}}
  {{end}}
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}