<!--menu.html-->

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Home
      </a>
    </div>
    <ul class="nav navbar-nav">
      {{ if .is_logged_in }}
      <li><a href="/messages/create">Create Message</a></li> 
      {{end}}
      {{ if .is_logged_in }}
      <li><a href="/messages">List Messages</a></li>
      {{end}}
      {{ if not .is_logged_in }}     
      <li><a href="/users/register">Register</a></li>
      {{end}}
      {{ if not .is_logged_in }}
      <li><a href="/users/login">Login</a></li>
      {{end}}
      {{ if .is_logged_in }}
      <li><a href="/users/logout">Logout</a></li>
      {{end}}
    </ul>
  </div>
</nav>